.u-section-1 .u-sheet-1 {min-height: 731px}
.u-section-1 .u-text-1 {line-height: 40px; font-weight: 700; margin: 149px auto 0 16px}
.u-section-1 .u-layout-wrap-1 {width: 1120px; margin: 20px auto 60px 16px}
.u-section-1 .u-image-1 {min-height: 446px; background-image: url("images/3c2ff89e-929c-494b-a73c-da53bacc0b3f_200x200.png")}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-layout-cell-2 {min-height: 446px}
.u-section-1 .u-container-layout-2 {padding: 30px 30px 25px}
.u-section-1 .u-text-2 {margin: 0 auto 0 0}
.u-section-1 .u-text-3 {margin-left: 0; margin-bottom: 0; margin-right: auto}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 158px; min-width: 94px; animation-duration: 1000ms; margin: 8px auto -20px 0}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%}
.u-section-1 .u-icon-4 {height: 100%} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 659px}
.u-section-1 .u-text-1 {margin-left: 13px}
.u-section-1 .u-layout-wrap-1 {width: 940px; margin-left: 0}
.u-section-1 .u-image-1 {min-height: 374px}
.u-section-1 .u-layout-cell-2 {min-height: 374px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 571px}
.u-section-1 .u-text-1 {margin-left: 10px}
.u-section-1 .u-layout-wrap-1 {width: 720px}
.u-section-1 .u-image-1 {min-height: 286px}
.u-section-1 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1259px}
.u-section-1 .u-text-1 {width: auto; margin-top: 138px}
.u-section-1 .u-layout-wrap-1 {width: 520px; margin-left: auto; margin-bottom: 30px}
.u-section-1 .u-image-1 {min-height: 585px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-layout-cell-2 {min-height: 425px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 1130px}
.u-section-1 .u-text-1 {margin-top: 127px; margin-left: 0}
.u-section-1 .u-layout-wrap-1 {margin-top: 8px; margin-bottom: 20px; margin-right: initial; margin-left: initial; width: auto}
.u-section-1 .u-image-1 {min-height: 368px}
.u-section-1 .u-layout-cell-2 {min-height: 100px} }.u-section-2 .u-sheet-1 {min-height: 611px}
.u-section-2 .u-text-1 {line-height: 40px; font-weight: 700; margin: 54px auto 0 10px}
.u-section-2 .u-layout-wrap-1 {width: 1120px; margin: 0 auto 60px}
.u-section-2 .u-image-1 {min-height: 446px; background-image: url("images/fmhopfp.png"); background-position: 50% 50%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 446px}
.u-section-2 .u-container-layout-2 {padding: 30px 30px 25px}
.u-section-2 .u-text-2 {margin: 0 auto 0 0}
.u-section-2 .u-text-3 {margin: 20px auto 0 0}
.u-section-2 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 74px; min-width: 42px; animation-duration: 1000ms; margin: 8px auto 0 0}
.u-section-2 .u-icon-1 {height: 100%}
.u-section-2 .u-icon-2 {height: 100%} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 539px}
.u-section-2 .u-text-1 {margin-left: 8px}
.u-section-2 .u-layout-wrap-1 {width: 940px}
.u-section-2 .u-image-1 {min-height: 374px}
.u-section-2 .u-layout-cell-2 {min-height: 374px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 451px}
.u-section-2 .u-text-1 {margin-left: 6px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-image-1 {min-height: 286px}
.u-section-2 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1160px}
.u-section-2 .u-text-1 {margin-top: 32px; margin-left: 2px; margin-right: 2px}
.u-section-2 .u-layout-wrap-1 {width: 540px; margin: 8px 0 32px}
.u-section-2 .u-image-1 {min-height: 585px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 633px}
.u-section-2 .u-text-1 {margin-right: 1px; margin-left: 1px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-image-1 {min-height: 368px} }.u-section-3 .u-sheet-1 {min-height: 611px}
.u-section-3 .u-text-1 {line-height: 40px; font-weight: 700; margin: 65px auto 0 16px}
.u-section-3 .u-layout-wrap-1 {width: 1120px; margin: 20px auto 40px 16px}
.u-section-3 .u-image-1 {min-height: 446px; background-image: url("images/tsa.png"); background-position: 50% 50%}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 446px}
.u-section-3 .u-container-layout-2 {padding: 30px 30px 25px}
.u-section-3 .u-text-2 {margin: 0 auto 0 0}
.u-section-3 .u-text-3 {margin-left: 0; margin-bottom: 0; margin-right: auto} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 539px}
.u-section-3 .u-text-1 {margin-left: 13px}
.u-section-3 .u-layout-wrap-1 {width: 940px; margin-left: 13px}
.u-section-3 .u-image-1 {min-height: 374px}
.u-section-3 .u-layout-cell-2 {min-height: 374px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 451px}
.u-section-3 .u-text-1 {margin-left: 10px}
.u-section-3 .u-layout-wrap-1 {width: 720px; margin-left: 10px}
.u-section-3 .u-image-1 {min-height: 286px}
.u-section-3 .u-layout-cell-2 {min-height: 100px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1048px}
.u-section-3 .u-text-1 {width: auto; margin-top: 20px; margin-left: 0}
.u-section-3 .u-layout-wrap-1 {margin-bottom: 20px; margin-right: initial; margin-left: initial; width: auto}
.u-section-3 .u-image-1 {min-height: 585px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 633px}
.u-section-3 .u-image-1 {min-height: 368px} }