.u-section-1 .u-sheet-1 {min-height: 45px}
.u-section-1 .u-text-1 {font-weight: 700; margin: 5px 20px} 

@media (max-width: 1199px){ .u-section-1 .u-text-1 {margin-left: 0; margin-right: 0} }.u-section-2 {min-height: 318px}
.u-section-2 .u-sheet-1 {min-height: 1041px}
.u-section-2 .u-layout-wrap-1 {margin: 111px auto 3px 0}
.u-section-2 .u-image-1 {min-height: 561px; background-image: url("images/ScreenShot2020-08-12at8.48.03PM.png"); background-position: 50% 18.2%}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-layout-cell-2 {min-height: 365px}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-text-1 {margin: 0}
.u-section-2 .u-text-2 {margin: 20px 0 0}
.u-section-2 .u-btn-1 {border-style: none none solid; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 20px auto 0 207px; padding: 0}
.u-section-2 .u-layout-cell-3 {min-height: 365px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-3 {margin: 0}
.u-section-2 .u-text-4 {margin: 20px auto 0 0}
.u-section-2 .u-btn-2 {border-style: none none solid; text-transform: uppercase; font-size: 0.875rem; letter-spacing: 1px; margin: 20px auto 0; padding: 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 156px}
.u-section-2 .u-sheet-1 {min-height: 813px}
.u-section-2 .u-layout-wrap-1 {margin-top: 12px; margin-bottom: 12px; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 463px}
.u-section-2 .u-layout-cell-2 {min-height: 327px}
.u-section-2 .u-btn-1 {margin-left: auto}
.u-section-2 .u-layout-cell-3 {min-height: 301px} }

@media (max-width: 991px){ .u-section-2 {min-height: 66px}
.u-section-2 .u-sheet-1 {min-height: 77px}
.u-section-2 .u-layout-wrap-1 {position: relative; margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {min-height: 355px}
.u-section-2 .u-layout-cell-2 {min-height: 100px}
.u-section-2 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 .u-image-1 {min-height: 266px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 .u-image-1 {min-height: 385px; background-position: 73.23% 18.2%} }.u-section-3 .u-sheet-1 {min-height: 1019px}
.u-section-3 .u-layout-wrap-1 {margin: 50px auto 0 0}
.u-section-3 .u-layout-cell-1 {min-height: 208px}
.u-section-3 .u-container-layout-1 {padding: 20px}
.u-section-3 .u-text-1 {font-weight: 700; margin: 0}
.u-section-3 .u-layout-cell-2 {min-height: 217px}
.u-section-3 .u-container-layout-2 {padding: 20px 60px 9px}
.u-section-3 .u-text-2 {margin: 0}
.u-section-3 .u-text-3 {margin: 20px 0 0}
.u-section-3 .u-btn-1 {font-weight: normal; margin: 11px auto 0}
.u-section-3 .u-gallery-1 {height: 641px; grid-gap: 10px 10px; margin: 51px auto 60px 0}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: auto auto auto}
.u-section-3 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-4 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-5 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-6 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 252px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-layout-cell-1 {min-height: 137px}
.u-section-3 .u-layout-cell-2 {min-height: 215px}
.u-section-3 .u-btn-1 {border-style: none none solid; margin-left: 207px; padding: 0}
.u-section-3 .u-gallery-1 {height: 529px; margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto)} }

@media (max-width: 991px){ .u-section-3 .u-layout-cell-1 {min-height: 100px}
.u-section-3 .u-container-layout-1 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 30px; padding-right: 30px}
.u-section-3 .u-btn-1 {margin-left: 94px}
.u-section-3 .u-gallery-1 {height: 912px; margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 139px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-gallery-1 {height: 2736px; margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-3 .u-layout-cell-1 {min-height: 42px}
.u-section-3 .u-layout-cell-2 {min-height: 231px}
.u-section-3 .u-btn-1 {margin-left: 0}
.u-section-3 .u-gallery-1 {height: 1723px; margin-right: initial; margin-left: initial} }